.pagination{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
}

.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    background-color: #bcddfe;
}
.pagination .page-num:hover{
    background-color: #5AB1BB;
    color: #fff;
}